@font-face {
    font-family: 'Poppins black';
    src: url(../fonts/Poppins-Black.ttf);
}
@font-face {
    font-family: 'Poppins bold';
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: 'Poppins semi';
    src: url(../fonts/Poppins-SemiBold.ttf);
}
@font-face {
    font-family: 'Poppins medium';
    src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
    font-family: 'Poppins regular';
    src: url(../fonts/Poppins-Regular.ttf);
}