@import 'fonts.css';

/* ROOT START */

:root {
    --p900: 'Poppins black';
    --p700: 'Poppins bold';
    --p600: 'Poppins semi';
    --p500: 'Poppins medium';
    --p400: 'Poppins regular';
    --white: #FFFFFF;
    --red: #DB2512;
    --gray: #B7B7B7;
    --dark: #171616;
    --black: #000000;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    text-transform: uppercase;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.red__btn {
    padding: 18px 48.5px;
    background: var(--red);
    color: var(--white);
    font-family: var(--p500);
    font-size: 18px;
    line-height: 13px;
    width: max-content;
    text-transform: initial;
    transition: background 300ms;
}
.red__btn:hover, .footer__btn:hover {
    background: rgba(219, 38, 18, 0.682);
}

.lang {
    display: flex;
    gap: 11px;
}

/* ROOT END */
/* **************** */

/* HEADER START */

.header {
    background: url(../img/road-g9875459d1_1920\ 1.jpg) no-repeat center center /cover;
    background-attachment: fixed;
}

.header__nav {
    height: 100px;
    display: flex;
    padding-top: 21px;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 36px;
}

.header__nav-link {
    color: var(--white);
    font-size: 15px;
    font-family: var(--p600);
    padding-bottom: 6px;
    border-bottom: 2px solid transparent;
    transition: border-color 300ms;
}
.header__nav-link:hover {
    border-color: var(--white);
}

.ru, .en {
    color: var(--white);
}

.ru:hover, .en:hover {
    color: var(--gray);
}

.header__title {
    color: var(--white);
    font-size: 48px;
    font-family: var(--p700);
    max-width: 791px;
    width: 100%;
    margin-bottom: 53px;
}

.header__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}



/* HEADER END */
/* ************ */


/* MAIN START */

.main__cards {
    display: flex;
    justify-content: space-between;
}

.main__mini-card {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    padding: 39px 48px 37px 39px;
    background: var(--white);
    max-width: 389px;
    width: 100%;
}

.first {
    font-size: 30px;
    color: var(--black);
    margin-bottom: 21px;
}

.main__card-title {
    color: var(--black);
    font-size: 18px;
    font-family: var(--p700);
    margin-bottom: 15px;
    letter-spacing: 2.7px;
}

.main__card-text {
    color: var(--gray);
    font-size: 17px;
    font-family: var(--p400);
    text-transform: initial;
}

.main {
    margin-top: -97px;
}

.main__title {
    color: var(--black);
    font-family: var(--p700);
    font-size: 30px;
    letter-spacing: 4.5px;
    margin: 99px 0 15px 0;
}

.main__text {
    color: var(--black);
    font-family: var(--p400);
    font-size: 15px;
    letter-spacing: 2.25px;
    text-decoration-line: underline;
    margin-bottom: 60px;
}

.main__centre-title {
    margin-top: 20px;
    font-size: 20px;
    font-family: var(--p600);
    letter-spacing: 4.6px;
}

.main__centre-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__centre-preview {
    position: relative;
    max-width: 386px;
    width: 100%;
    max-height: 500px;
    height: 100%;
}

.circle {
    width: 100px; 
    height: 100px;
    background: #DB2512; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preview__button {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.70);
    opacity: 0;
    transition: opacity 500ms;
}

.main__centre-preview:hover .preview__button {
    opacity: 1;
}

.buttons__text {
    font-size: 18px;
    color: var(--white);
    line-height: 27px;
    font-family: var(--p600);
    letter-spacing: 4px;
    max-width: 269px;
    width: 100%;
    position: absolute;
    bottom: 32px;
    left: 29px;
}

.cards__img {
    object-fit: cover;
    max-width: 386px;
    width: 100%;
    max-height: 500px;
    height: 100%;
}

.content__title {
    color: var(--white);
    font-family: var(--p700);
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 4.5px;
    margin-bottom: 42px;
}

.content__text {
    color: var(--gray);
    font-size: 15px;
    font-family: var(--p600);
    line-height: 22.5px;
    letter-spacing: 3.45px;
    margin-bottom: 48px;
}

.content__btn {
    color: var(--white);
    text-decoration: underline;
    font-size: 18px;
    font-family: var(--p500);
    line-height: 27px;
    letter-spacing: 2.7px;
}

.main__contents-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 116px 0;
}

.main__content-img {
    display: inline-block;
    object-fit: cover;
    max-width: 513px;
    max-height: 342px;
    width: 100%;
    height: 100%;
}

.main__main-title {
    color: var(--black);
    font-size: 148px;
    font-family: var(--p900);
    line-height: 222px;
    margin: 80px 0 40px 0;
}

.main__main-text {
    color: var(--black);
    font-size: 40px;
    font-family: var(--p600);
    line-height: 60px;
    letter-spacing: 6px;
}

.main__main-things {
    text-align: center;
    width: 100%;
}

.main__main-cards {
    margin: 85px 0 95px 0;
}

.footer__title {
    font-family: var(--p700);
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 4.5px;
    margin-bottom: 46px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    max-width: 440px;
    width: 100%;
    margin-bottom: 55px;
}

.footer {
    padding: 97px 0;
    background: var(--black);
    color: var(--white);
}

input {
    text-transform: capitalize;
    max-width: 197px;
    width: 100%;
    height: 33px;
    padding-bottom: 9px;
    font-size: 15px;
    font-family: var(--p400);
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: var(--white);
    background: transparent;
}

.footer__message {
    max-width: 440px;
    width: 100%;
    height: 131px;
    font-size: 15px;
    font-family: var(--p400);
    text-transform: capitalize;
    margin-bottom: 37px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: var(--white);
    background: transparent;
}

.footer__btn {
    display: block;
    padding: 12px 76px;
    background: var(--red);
    color: var(--white);
    font-family: var(--p500);
    font-size: 18px;
    line-height: 13px;
    width: max-content;
    transition: background 300ms;
}

input::-webkit-input-placeholder { 
    color: white; 
}

textarea::-webkit-input-placeholder { 
    color: white; 
}

/* MAIN END */
/* ************** */


/* Media start */

@media(max-width:1222px) {
    .header__nav {
        flex-direction: column;
        gap: 20px;
    }
    .header__title {
        font-size: 36px;
        max-width: 680px;
    }
    .red__btn {
        padding: 14px 44.5px;
        font-size: 15px;
        line-height: 10px;
    }
    .header__content {
        padding: 30px;
    }
    .main__cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
        padding-top: 40px;
    }
    .main {
        margin-top: 0;
    }
    .main__title {
        margin-top: 60px;
    }
    .main__center {
        text-align: center;
    }
    .main__centre-cards {
        flex-wrap: wrap;
        gap: 80px;
        justify-content: center;
    }
    .main__contents-row {
        flex-direction: column;
        gap: 30px;
    }
    .main__main-title {
        font-size: 100px;
        line-height: 120px;
    }
    .main__main-text {
        font-size: 35px;
        line-height: 40px;
        letter-spacing: 4px;
    }
    .contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:560px) {
    .header__content {
        align-items: center;
        text-align: center;
    }
    .header__menu {
        flex-wrap: wrap;
    }
    .header__title {
        font-size: 22px;
    }
    .header__nav-link {
        font-size: 14px;
    }
    .ru, .en {
        font-size: 14px;
    }
    .main__content-text {
        text-align: center;
        padding: 0 15px;
    }
    .content__title {
        font-size: 25px;
        line-height: 35px;
        letter-spacing: 3.5px;
        margin-bottom: 30px;
    }
    .content__text {
        font-size: 14px;
        line-height: 20.5px;
        letter-spacing: 2.45px;
        margin-bottom: 30px;    
    }
    .content__btn {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1.7px;
    }
    .main__main-title {
        font-size: 60px;
        line-height: 80px;
    }
    .main__main-text {
        font-size: 25px;
        line-height: 30px;
        letter-spacing: 3px;
    }
    .inputs {
        flex-direction: column;
        align-items: center;
    }
    .contacts {
        padding: 0 40px;
    }
    .preview__button {
        display: none;
    }
}

@media(max-width:560px) {
    .header__menu {
        gap: 20px;
        justify-content: center;
        padding: 0 20px;
    }
    .main__card-title {
        font-size: 16px;
        margin-bottom: 12px;
        letter-spacing: 0.7px;
    }
    .main__mini-card {
        padding: 16px;
    }
    .main__cards {
        padding-left: 20px;
        padding-right: 20px;
    }
    .content__title {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 2.5px;
        margin-bottom: 25px;
    }
    .content__text {
        font-size: 12px;
        line-height: 18.5px;
        letter-spacing: 1.45px;
        margin-bottom: 20px;
    }
    .main__main-title {
        font-size: 40px;
        line-height: 60px;
    }
    .main__main-text {
        font-size: 22px;
        letter-spacing: 1px;
    }
    .footer__title {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 3.5px;
    margin-bottom: 40px;
    }
}

/* Media end */